/* Sehgal, Priyanka Account: Jadrn045
   CS645,Spring 2017
   Project #2 */

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: 80px;
	width: 40%;
	padding-top: 5px;
	margin-bottom: 5px;
}

.ui-widget-header {
	background-color: #ffffff;
}

#counter {
	background-color: #123456;
	color: #ffffff;
	text-align: right;
	font-size: 120%;
	padding-right: 20px;
	font-weight: bold;
	height: 30px;
	padding-top: 1px;
	padding-bottom: 20px;
	font-family:'Papyrus'
}

ul {
	padding-left: 10px;
	list-style-type: none;
}

#navigation li {
	float: left;
	height: 25px;
}

#navigation li.cart {
	float: right;
}

#navigation li a {
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: white;
}

#navigation li a.active {
	color: red;
}

#navigation a {
	padding-right: 50px;
	margin-left: 40px;
	font-size: 21px;
}

#navigation li a:hover {
	color: #ffcccc;
}
