/* Sehgal, Priyanka Account: Jadrn045
   CS645,Spring 2017
   Project #2 */
body{
    background-image: url("images.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
       background-color: pink;
       background-blend-mode: screen;}

h1, h2, h3 {
	text-align: center;
   }


#logout_outer {
    color:#ffffff;
    margin:0px auto;
    margin-top:80px;
    width:500px;
    height:300px;
    background-color:#802900;
    border : 1px solid #802900;
    border-radius: 8px;
}


#logout_inner {
    color:#802900;
    margin :0px auto;
    margin-top:30px;
    width:400px;
    height:100px;
    background-color: #ffeecc ;
    border : 1px solid #802900;
    border-radius: 8px;
}