/*Sehgal,Priyanka Account:jadrn045
CS645, Spring 2017
Project 3 */
body {
	background-color:#ffdde2 ;
}

h3 {
	font-size: 22px;
	font-family: sans-serif;
}

#product_summary h3 {
	margin-left: 40px;
}

#order_summary {
	margin-top: 40px;
  background-color: #FFFFFF;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 10px 10px 5px #888888;
}

#order_summary img {
	margin-top: 20px;
	padding:10px;
}

.heading {
	margin-top: 30px;
	background-color: #ff2d4c;
	color: white;
	font-family: sans-serif;
	padding-top: 1px;
	padding-left: 20px;
	padding-bottom: 1px;
}

.continue_shopping {
	margin-top: 30px;
	text-align: center;
	font-size: 20px;
	background-color: #000000;
	border: 2px solid #000000;
	color: white;
	margin-bottom: 10px;
}

#summary_table {
	background-color: #FFFFFF;
	width: 90%;
	border: 1px solid #000000;
	border-collapse: collapse;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

#summary_table tr,th,td{
  border: 1px solid #000000;
	padding: 5px;
}

#customer_details {
	margin-left: 40px;
	margin-bottom: 40px;
}

#card_details {
	margin-left: 40px;
	margin-bottom: 40px;
}

#ship_details {
	margin-left: 40px;
	margin-bottom: 40px;
}

#ship_summary {
	border-collapse: collapse;
	width: 100%;
}

#ship_summary th {
	font-size: 22px;
	font-family: sans-serif;
}

td.ship_summary, tr.ship_summary, th.ship_summary{
	border: 1px solid #FFFFFF;
	padding:0px;
	text-align: left;
}

#place_order_div, #done{
	text-align: center;
}

.place_order, .print, .done{
	padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999
}

.print {
	float:right;
	margin-right: 40px;
}

.cancel {
	padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: grey;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}
	
#confirmation_note {
	padding-left: 20px;
	font-size: 18px;
}

.order_number {
  margin-left: 40px;
	margin-bottom: 30px;
}
